<div class="page-width section-main">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="desktop-head">{{ section.settings.title | escape }}</h2>
      <h2 class="mobile-head">{{ section.settings.title_mobile | escape }}</h2>
    </div>
  {% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
  
  <ul class="grid main-grid grid--uniform grid--view-items">
    {% for product in collection.products limit: product_limit %}
      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid-home', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
      </li>
    {% else %}

      {% for i in (1..product_limit) %}
        <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item product-card">
            <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
              <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
            </a>
            <div class="grid-view-item__image-wrapper">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
            {% include 'product-price' %}
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" aria-hidden="true" />
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}
<a class="shop-all" href="{{ section.settings.shop_all_url }}">{{ section.settings.shop_all }}</a>
</div>

{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "index-section featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading Desktop"
      },
      "default": {
        "en": "Featured collection"
      }
    },
    {
      "type": "text",
      "id": "title_mobile",
      "label": {
        "en": "Heading Mobile"
      },
      "default": {
        "en": "Featured collection"
      }
    },
    {
      "type": "text",
      "id": "shop_all",
      "label": {
        "en": "Shop All Button"
      },
      "default": {
        "en": "Shop All"
      }
    },
    {
      "type": "text",
      "id": "shop_all_url",
      "label": {
        "en": "Shop All URL"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "cs": "Počet produktů na řádek",
        "da": "Produkter pr. række",
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fi": "Tuotteita per rivi",
        "fr": "Produits par rangée",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "ko": "열 별 제품",
        "nb": "Produkter per rad",
        "nl": "Producten per rij",
        "pl": "Liczba produktów na wiersz",
        "pt-BR": "Produtos por linha",
        "pt-PT": "Produtos por linha",
        "sv": "Produkter per rad",
        "th": "สินค้าต่อแถว",
        "tr": "Satır başına ürün",
        "vi": "Số sản phẩm trên một hàng",
        "zh-CN": "每行产品数",
        "zh-TW": "每列產品數"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "cs": "Řádky",
        "da": "Rækker",
        "de": "Reihen",
        "en": "Rows",
        "es": "Filas",
        "fi": "Rivit",
        "fr": "Rangées",
        "it": "Righe",
        "ja": "行",
        "ko": "열",
        "nb": "Rader",
        "nl": "Rijen",
        "pl": "Wiersze",
        "pt-BR": "Linhas",
        "pt-PT": "Linhas",
        "sv": "Rader",
        "th": "แถว",
        "tr": "Satırlar",
        "vi": "Hàng",
        "zh-CN": "行数",
        "zh-TW": "列"
      },
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele produktů",
        "da": "Vis produktleverandører",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pl": "Pokaż dostawców produktu",
        "pt-BR": "Exibir fabricantes do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcılarını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "cs": "Zobrazit tlačítko Zobrazit vše",
        "da": "Vis knappen \"Se flere\"",
        "de": "'Alle anzeigen' Button anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fi": "Näytä \"Näytä kaikki\" -painike",
        "fr": "Afficher le bouton “Tout voir”",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "ko": "'모두 보기' 버튼 표시",
        "nb": "Vis «Se alle»-knapp",
        "nl": "Knop 'Alles weergeven' weergeven",
        "pl": "Pokaż przycisk „Wyświetl wszystkie”",
        "pt-BR": "Exibir botão 'Ver tudo'",
        "pt-PT": "Mostrar botão 'Ver tudo'",
        "sv": "Visa \"Visa alla\"-knappen",
        "th": "แสดงปุ่ม 'ดูทั้งหมด'",
        "tr": "\"Tümünü görüntüle\" düğmesini göster",
        "vi": "Hiển thị nút \"Xem tất cả\"",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
{% comment %}
{% stylesheet %}

.featured-collection {
  padding-top: 25px;
  padding-bottom: 0px;
} 
.page-width.section-main {
  max-width: unset;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.featured-collection .section-header {
  margin-bottom: 40px !important;
}
.featured-collection .mobile-head{
  display:none;
}
.featured-collection .section-header h2 {
  text-align: right;
  font-family: "Compacta";
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0;
}
.featured-collection .main-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.featured-collection .main-grid:after {
  display: none !important;
}
.product-card:hover .product-card__image-wrapper,
.product-card:focus-within .product-card__image-wrapper {
  opacity: 1 !important;
}
body .featured-collection .main-grid .grid__item {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: calc(33.3333% - 25px);
}
body
  .featured-collection
  .product-card__image-with-placeholder-wrapper
  .grid-view-item__image-wrapper {
  max-width: unset !important;
  margin: 0;
}
body
  .featured-collection
  .product-card__image-with-placeholder-wrapper
  .grid-view-item__image-wrapper
  div
  img {
  max-width: unset !important;
  max-height: unset !important;
}
.featured-collection .infoWrap {
  margin-top: 22px;
}
.featured-collection .infoWrap .vendor-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.featured-collection .infoWrap .vendor-wrapper .grid-view-item__title a {
  font-family: 'Kepler';
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color:#000;
}
.featured-collection .grid-view-item.product-card {
  margin: 0 auto 60px !important;
}
.featured-collection
  .grid-view-item.product-card
  .vendor-wrapper
  .grid-view-item__title {
  border-bottom: unset !important;
}
.featured-collection .infoWrap .vendor-wrapper .price.price--listing {
  font-family: 'Kepler';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color:#000;
}
.featured-collection .infoWrap .vendor-wrapper .price.price--listing * {
  margin: 0;
  font-weight: 500;
} 
body .featured-collection .product-card__image-with-placeholder-wrapper form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  transition: all 0.4s ease-in-out;
}
body
  .featured-collection
  .product-card__image-with-placeholder-wrapper
  form
  .add-cart {
  width: 134px;
  height: 52px;
  color: #ffffff;
  background: #242d2d;
  font-family: "Tungsten";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border: 1px solid #242d2d;
  border-radius: unset;
}
.featured-collection
  .grid-view-item.product-card:hover
  .product-card__image-with-placeholder-wrapper
  form {
  opacity: 1;
  visibility: visible;
}

body
  .featured-collection
  .product-card__image-with-placeholder-wrapper
  .grid-view-item__image-wrapper
  > a
  div::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #ff45d6;
  position: absolute;
  top: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.featured-collection
  .grid-view-item.product-card:hover
  .product-card__image-with-placeholder-wrapper
  .grid-view-item__image-wrapper
  > a
  div::before {
  opacity: 0.2;
  visibility: visible;
}

.featured-collection .infoWrap .brand-title .disnew {
  color: #000;
  font-family: 'Kepler';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-top: 10px;
} 
.featured-collection .page-width.section-main .shop-all {
  height: 93px;
  background: #242d2d;
  color: #fff;
  font-family: "Tungsten";
  font-style: normal;
  font-weight: 326;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
} 
.cart-popup-wrapper{
  z-index:99999!important;
  display:block!important; 
}
.cart-popup-wrapper.cart-popup-wrapper--hidden {
  visibility: hidden; 
}
.cart-popup__heading{
  font-family: 'Tungsten';
  font-size: 22px;
  font-weight: 500;
}
.cart-popup-item__quantity *{
  font-family: 'Kepler';
  font-size: 15px;
}
.cart-popup__cta-link, .cart-popup__dismiss-button{
    font-family: 'Tungsten';
  font-size: 15px;
}
.cart-popup-item__title{
  font-family: Keplerlite;
  font-size: 15px;
}
.cart-popup-item__image-wrapper{
   background: unset!important;
} 
@media screen and (max-width: 1024px) {
  .featured-collection .infoWrap .vendor-wrapper .price.price--listing,
  .featured-collection .infoWrap .vendor-wrapper .grid-view-item__title a {
    font-size: 26px;
  }
}
@media screen and (max-width: 820px) {
  body .featured-collection .main-grid .grid__item {
    width: calc(40% - 65px);
  }
  .page-width.section-main{
    padding-left: 40px!important;
    padding-right: 40px!important;
  }
}
@media screen and (max-width: 768px) {
  .featured-collection .page-width.section-main {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  body .featured-collection .main-grid .grid__item {
    width: calc(33.3333% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .featured-collection .mobile-head{
    display:block;
  }
  .featured-collection .desktop-head{
    display:none;
  }
  .featured-collection .section-header h2 {
    font-size: 30px;
    line-height: 37px;
    padding-left: 5px;
  }
  .featured-collection .page-width.section-main {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  body .featured-collection .main-grid .grid__item {
    width: calc(50% - 8px);
  }
  .featured-collection .infoWrap {
    margin-top: 5px;
  }
  .featured-collection .infoWrap .brand-title .disnew {
    margin-top: 0;
  }
  .featured-collection .grid-view-item.product-card {
    margin: 0 auto 15px !important;
  }
  .featured-collection .infoWrap .vendor-wrapper .price.price--listing,
  .featured-collection .infoWrap .vendor-wrapper .grid-view-item__title a {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    /*font-family: 'CompactaBT-Light';*/ 
    letter-spacing: 0.5px;
  }
  
  .featured-collection .infoWrap .brand-title .disnew {
    font-size: 17px;
    line-height: 19px;
    margin-top: 3px;
    font-weight: normal;
  }
  body .featured-collection .product-card__image-with-placeholder-wrapper form {
    width: 100%;
    bottom: 0;
    display: none;
  }
  body
    .featured-collection
    .product-card__image-with-placeholder-wrapper
    form
    .add-cart {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    height: 40px;
  }
  .featured-collection{
    padding-top: 15px!important; 
  }
  .featured-collection .page-width.section-main .shop-all{
    height: 50px;
    max-width: 150px;
    font-size: 25px;
    line-height: 30px;
  }
   body .featured-collection .section-header{
    margin-bottom: 15px!important;
  }
}
{% endstylesheet %}
{% endcomment %}
{% javascript %}
  /*
  $(window).on("load scroll", function(){
    console.log("loaded, scroll"); 
    let x = $("#itemss").html();
    //$(x).insertAfter("#itemss");
  });
  */
  
{% endjavascript %}