<style>
  .vendor-list li a{
    text-transform: none;
  }
  .vendor-list{
    display: block!important;
    position: relative;
  }
  .vendor-list li.active a{
    color: #F0451B!important;
  }
  .vendor-list li{

  }
  
  .vendor-list > li .right-img-block{
    top: 0;
  }
  .right-img-block{
    width: 100%;
    max-width: 500px;
    /*position: absolute;
    top: -100px;*/
    position: sticky;
    top: 10%;
    z-index: 99;
    left: 50%;
  }
  .right-img-block img{
    display: none;
    width: 100%;
    height: 100%;
  }
 ul.alphabet {
    display: flex;
    flex-wrap: wrap;
/*    margin: 50px 0 50px 70px; */
}
 ul.alphabet a {
    text-align: left;
    font-size: 41px;
    font-family: 'Tungsten';
    color: var(--charcoal);
    font-weight: bold;
    letter-spacing: 18.78px;
    line-height: 1.2;
   
}
  section.section2 ul.medical_dictionary {
    font-family: KeplerStd-Subhead;
    font-size: 50px;
    font-weight: normal;
    font-stretch: semi-condensed;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--charcoal);
	margin: 200px 0px 427px 70px;
      }
  .newdivul {
    display: flex;
    justify-content: space-between;
}
  
  
    section.section1 {
    text-align: center;
/*     background-color: #edeeed; */
    padding: 70px 0px;
}
  section.section2
  {
  	position: relative;
    min-height: 839px;
  }
 section.section1 h1 {
  
     font-size: 35px;
    line-height: 50px;
    color: #242d2d;
  font-family: 'Compacta';
   font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: initial;    
    text-align: center;
    color: var(--charcoal);
}
  
    section.section1  p {
    font-family: KeplerStd-ScnCapt;
     font-size: 35px;
    line-height: 50px;
    color: #242d2d;
     font-family: 'Kepler';
    text-transform: initial;
  
    text-align: center;
    color: var(--charcoal);
}
  
  section.section1 p {
    max-width: 1000px;
    margin: 0 auto;
/*     font-family: 'Tungsten'; */
}
  html {
  scroll-behavior: smooth;
}
  .newtct {
    margin-left: 125px;
    margin-right: 125px;
    margin-top:0px
}
  .newdivul ul li {
    font-size: 40px;
    font-family: 'Kepler';
}
  .h2had {
    font-size: 40px;
    font-family: 'Kepler';
    font-weight: 400;
}
  
  @media (max-width: 768px){
  
  .newtct {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
}
      .newdivul {
    display: block;
    justify-content: space-between;
}
    section.section1 {
    padding-top:100px !important;
}
    ul.alphabet a {
    letter-spacing: 7.78px;
      }
    
  }
  
  section.section1 {
    padding-top: 283px;
}
  li a {
    text-transform: capitalize;
}
  
  .vendor-list {
    margin: 0px;
}
@media (max-width: 768px){
 .vendor-list {
    margin: 10px;
}

}
.vendor-list h2 {
    margin-top: 70px;
    margin-bottom: -1px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Kepler';
}
.vendor-list li {
    font-family: Kepler-Std-Light;
    font-size: 40px;
    margin-bottom: -9px;
}
  @media screen and (max-width: 1440px){
    .right-img-block{
      /*top: -100px;*/
      max-width: 400px;
    }
  }
  @media screen and (max-width: 1280px){
    .right-img-block{
      right: 10%;
      max-width: 400px;
    }
  }
  @media screen and (max-width: 768px){
    .right-img-block{
      top: 0;
      max-width: 400px;
    }
  }  
  
  @media screen and (max-width: 767px){
    .right-img-block{
      top: 30%;
      max-width: 200px;
      right: -20px;
    }
  }
  
  @media (min-width: 1024px){
    .vendor-list li {
    margin-top: 28px;
}
    ul.ul-margin {
    padding-top: 4px;
}
  .vendor-list li a {
/*     margin-right: 90px; */
        line-height: 0!important;
}
/*     .vendor-list li {
   
    display: contents;
    } */
/*     .vendor-list {
    margin-right: 15%;
}
    ul.ul-margin {
    padding-right: 149px;
} */
  }
</style>


<section class="section1">
  <h1>  BRAND DIRECTORY </h1>
  <p>Home, collected. One platform for all the brands you need to know and want to shop.</p>
 
  
</section>



<section class="section2 newtct">
   <div id="pinkdesign"></div>
<center><ul class="alphabet">
  	<li><a href="#1">#</a></li>
    <li><a href="#a">A</a></li>    <li><a href="#b">B</a></li>    <li><a href="#c">C</a></li>    <li><a href="#d">D</a></li>
    <li><a href="#e">E</a></li>    <li><a href="#f">F</a></li>    <li><a href="#g">G</a></li>    <li><a href="#h">H</a></li>
    <li><a href="#j">I</a></li>    <li><a href="#j">J</a></li>    <li><a href="#k">K</a></li>    <li><a href="#l">L</a></li>
    <li><a href="#m">M</a></li>    <li><a href="#n">N</a></li>    <li><a href="#p">O</a></li>    <li><a href="#p">P</a></li>
    <li><a href="#r">Q</a></li>    <li><a href="#r">R</a></li>    <li><a href="#s">S</a></li>    <li><a href="#t">T</a></li>
    <li><a href="#u">U</a></li>    <li><a href="#w">V</a></li>    <li><a href="#w">W</a></li>    <li><a href="#y">X</a></li>
    <li><a href="#y">Y</a></li>    <li><a href="#z">Z</a></li>
  </ul></center>

<div class="vendor-list">

  <div class="right-img-block">
    <img src="" alt="">
  </div>
{% assign numbers = '01234567890' %}
{% assign section_letter = '' %}
{% for product_vendor in shop.vendors %}
    {% capture product_letter %}{{ product_vendor | truncate: 1, '' | upcase }}{% endcapture %}
    {% if numbers contains product_letter %}{% assign product_letter = '' %}{% endif %}
    {% if product_letter != section_letter %}
        {% assign section_letter = product_letter %}
        {% unless forloop.first %}</ul>{% endunless %}
        <ul class="ul-margin">
    {% endif %}
    {% assign info = section.settings.ref_heading %}
          
	{% assign vendor_list = info | split: ';' %}
     {% assign vendor_url = "" %}
          {%for vendor_info in vendor_list %}
          	{% assign v = vendor_info | split: '::' %}
            {% assign vendor1 = product_vendor | downcase %}
          	{% assign vendor2 = v[0] | downcase %}
          
          {% if vendor1 == vendor2 %}
          	{% assign vendor_url = v[1] %}
          {% else %}
          
          {%endif%}
          
          {%endfor%}
          
          
    	{% for block in section.blocks %}
          {%if block.settings.vendor_name == product_vendor %}
          <li id="{{ product_vendor | slice: 0 | downcase }}" class="{{ product_vendor }}" title="{{product_vendor}}" data-img-src="{{block.settings.vendor_img | img_url: 'master' }}"><a href="{{block.settings.vendor_url}}"><span>{{product_vendor}}</span></a>
              {%comment%}<div class="right-img-block">
                <img src="" alt="">
              </div>{%endcomment%}
          </li>
          {%endif%}
        {%endfor%}
          
{% endfor %}


  </ul>
  
 
  
  

</div>

</section>



<script>
  alphabet scroll
  var triggers = $('ul.alphabet li ');
var filters = $('ul.medical_dictionary li ');

triggers.click(function() {
    var takeLetter = $(this).text();
    var found = false;
    filters.parent().hide();

    filters.each(function(i) {
        var compareFirstLetter = $(this).text().substr(0,1);
        if ( compareFirstLetter ==  takeLetter ) {
            $(this).parent().fadeIn(222);
            found = true;
        }
    });
    if (!found) { alert('There is no result.');
                window.location.reload();
                }
});
  
  
 

</script>
  
  
  
 





{% schema %}
{
  "name": "Vendor Section",
  "settings": [
    {
      "type": "text",
      "label": "Vender and Vendor Url",
      "id": "ref_heading"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Vendor Info",
      "settings": [
                  {
                    "type": "image_picker",
                    "id": "vendor_img",
                    "label": "Vendor Image"
                  },
                  {
                    "type": "text",
                    "id": "vendor_name",
                    "label": "Vendor Name"
                  },
                  {
                    "type": "text",
                    "id": "vendor_url",
                    "label": "Vendor URL"
                  }
                  ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
